@media (max-width: 700px) {
    .main-layout {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 701px) {
    .main-layout {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .hero-layout {
        background-color: #495e57;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 701px) {
    .hero-layout {
        background-color: #495e57;
        display: flex;
        justify-content: space-evenly;
    }
}

.hero-img {
    border-radius: 16px;
}

@media (max-width: 700px) {
    .highlight-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 701px) {
    .highlight-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 700px) {
    .special-card-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 701px) {
    .special-card-layout {
        display: flex;
        overflow-x: auto;
    }
}

.special-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .recommendation-layout {
        background-color: #495e57;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 701px) {
    .recommendation-layout {
        background-color: #495e57;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 700px) {
    .recommendation-card-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 701px) {
    .recommendation-card-layout {
        display: flex;
        overflow-x: auto;
    }
}

.testimonial-card {
    width: 250px;
    background-color: #edefee;
    margin: 15px;
    padding: 30px;
}

.testimonial-header {
    display: flex;
    align-items: center;
}